.main {
  .top {
    margin-bottom: 10px;
    .left {
      display: inline-block;
      max-width: 80%;
      font-size: 18px;
    }
    .right {
      float: right;
    }
  }
  .card {
    display: inline-block;
    font-size: 0;
    .text {
      background-color: rgb(92, 196, 243);
      text-align: center;
      color: #fff;
      font-size: 14px;
    }
  }
  .bottom {
    .right {
      max-width: 50%;
      display: inline-block;
      margin-left: 10px;
    }
  }
  .progress {
    width: 100%;
    background-color: #666;
    color: #fff;
    text-align: center;
    .percent {
      background-color: rgb(92, 196, 243);
    }
  }
}
