@import "~@styles/mixins/main.less";

.warn_item {
  &:not(:last-of-type) {
    margin-bottom: 50px;
  }
  .top {
    margin: 10px;
    .left {
      .overflow;
      max-width: 80%;
      font-size: 18px;
      font-weight: bold;
    }
  }
  .bottom {
    margin: 0 0 0 20px;
    .right {
      margin: 0 10px;
    }
  }
}
