@import "~@styles/mixins/main.less";
.top {
  position: relative;
  width: 100%;
  height: 527px;
  .bg-image("/static/images/home/home");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  .about {
    position: absolute;
    top: 40px;
    right: 40px;
    width: 40px;
    height: 40px;
  }
}
.content {
  margin: 21.5px 30px 0;
  .item {
    &:nth-of-type(odd) {
      margin-right: 15px;
    }
  }
}
.bottom {
  height: calc(100vh - 527px - 22px - 15px - 191px - 15px);
  margin: 15px 30px 0;
  padding-top: calc((100vh - 527px - 22px - 15px - 191px - 15px - 129px - 41px - 20px) / 2);
  overflow: auto;
  text-align: center;
  background: #ffffff;
  border: 1px solid #e6e6e6;
  border-radius: 6px;
  box-shadow: 0 0 14px 0 rgba(176, 207, 255, 0.5);
  img {
    width: 129px;
    height: 129px;
    margin-bottom: 41px;
    object-fit: contain;
  }
  .more {
    color: #dcdee3;
    font-size: 16px;
  }
}
