.top {
  position: relative;
  width: 100%;
  height: 527px;
  background: url("/static/2x/home.png") no-repeat;
  background-size: 100% 100%;
  .about {
    position: absolute;
    right: 40px;
    top: 40px;
    width: 40px;
    height: 40px;
  }
}
.content {
  margin: 21.5px 30px 0;
  .item {
    // 奇数
    &:nth-of-type(odd) {
      margin-right: 15px;
    }
  }
}
.bottom {
  text-align: center;
  margin: 15px 30px 0;
  height: calc(100vh - 527px - 22px - 15px - 191px - 15px);
  background: #ffffff;
  border: 1px solid #e6e6e6;
  box-shadow: 0 0 14px 0 rgba(176, 207, 255, 0.5);
  border-radius: 6px;
  padding-top: 142px;
  img {
    width: 129px;
    height: 129px;
    margin-bottom: 41px;
    object-fit: contain;
  }
  .more {
    font-size: 16px;
    color: #dcdee3;
  }
}
