.lists {
  height: calc(100vh - 90PX);
  :global {
    .list-view-section-body {
      background-color: #f4f4f4;
    }
    .am-list-body {
      background-color: transparent;
    }
  }
}

.no-data {
  height: calc(100vh - 90PX);
  overflow: hidden;
}

.result {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
