@import "~@styles/themes/default.less";
.main {
  overflow: auto;
  background-color: #f4f4f4;
}
.title {
  position: relative;
  .flag {
    position: absolute;
    right: -16px;
    top: -12px;
    display: inline-block;
    color: @brand-flag;
    font-size: 10px;
  }
}
