@import "~@styles/themes/default.less";
.main {
  overflow: auto;
  background-color: #f4f4f4;
}
.title {
  position: relative;
  .flag {
    position: absolute;
    right: -18px;
    top: -15px;
    display: inline-block;
    color: @brand-flag;
  }
}
