.empty_mainDiv {
  position: fixed;
  height: 100%;
  width: 100%;
  align-content: center;
  background-color: #ffffff;
  overflow:hidden; 
  margin:0;

  .messageDiv {
    background-color: #ffffff;
    margin-top: 40%;
    text-align: center;
  }

  .contentDiv {
    font-size: 14px;
    color: #333333;
    margin-top: 30px;
  }

  .buttonStyle {
    height: 60px;
    width: 180px;
    line-height: 60px;
    font-size: 14px;
    margin: auto;
    color: #ffffff;
    background-color:#4d6cc1; 
  }

  .buttonDiv {
      margin-top: 58px;
  }
}
