@import (reference) "~antd-mobile/es/style/index";
@import "./antd-mobile";

:global {
  .active {
    position: relative;
    &::after {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: rgba(0, 0, 0, 0.1) !important;
      content: "";
    }
  }
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: 0;
    -webkit-tap-highlight-color: transparent;
  }
  html {
    -webkit-text-size-adjust: none;
    -webkit-font-smoothing: antialiased;
  }
  body,
  html {
    height: 100%;
  }
  a {
    text-decoration: none;
  }
  .clearfix::before,
  .clearfix::after {
    display: table;
    content: "";
  }
  .clearfix::after {
    clear: both;
    overflow: hidden;
  }
  .clearfix {
    zoom: 1;
  }
  .fl,
  .fr {
    display: inline;
  }
  .fl {
    float: left;
  }
  .fr {
    float: right;
  }
  .none {
    display: none;
  }
  .hide {
    display: none !important;
  }
  textarea {
    resize: none;
  }
  /* 单行文字溢出省略号 */
  .ellipsis {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    word-wrap: normal;
    word-break: keep-all;
  }
}
