.detail {
  padding-top: 20px;
  .name {
    font-weight: bold;
    font-size: 20px;
  }
  .similar {
    margin: 10px;
  }
  .desc {
    margin: 10px 20px 0;
  }
  :global {
    .am-flexbox .am-flexbox-item {
      text-align: center;
    }
  }
}
