@import "~@styles/themes/default.less";

.wrap {
  position: relative;
  width: calc(50vw - 37.5px);
  text-align: center;
  height: 191px;
  background: #ffffff;
  border: 1px solid #e6e6e6;
  box-shadow: 0 0 14px 0 rgba(176, 207, 255, 0.5);
  border-radius: 6px;
  padding: 55px 0 0 0;
  display: inline-block;
  font-size: 0;
  .flag {
    position: absolute;
    right: 10px;
    top: 5px;
    color: @brand-flag;
    font-size: 10px;
  }
  .left,
  .right {
    display: inline-block;
    vertical-align: middle;
  }
  .left {
    width: 80px;
    height: 80px;
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
  .right {
    margin-left: 48px;
    text-align: left;
    .name {
      color: #333333;
      font-size: 14px;
      margin-bottom: 10px;
    }
    .en {
      color: #999999;
      font-size: 12px;
    }
  }
}

.container {
  position: relative;
  text-align: center;
  width: 50%;
  overflow: auto;
  display: inline-block;
  vertical-align: top;
  .wrap {
    position: relative;
    height: 191px;
    background: #ffffff;
    border: 1px solid #e6e6e6;
    box-shadow: 0 0 14px 0 rgba(176, 207, 255, 0.5);
    border-radius: 6px;
    .text {
      padding-top: 50px;
    }
    .flag {
      position: absolute;
      right: 5px;
      top: 10px;
      color: @brand-flag;
      font-size: 10px;
    }
  }
  .icon {
    margin: 0 auto;
  }
}
