@import "~@styles/themes/default.less";

.wrap {
  position: relative;
  display: inline-block;
  width: calc((100vw - 75px) / 2);
  height: 191px;
  padding: 55px 0 0 0;
  font-size: 0;
  text-align: center;
  background: #fff;
  border: 1px solid #e6e6e6;
  border-radius: 6px;
  box-shadow: 0 0 14px 0 rgba(176, 207, 255, 0.5);
  .flag {
    position: absolute;
    top: 5px;
    right: 10px;
    color: @brand-flag;
    font-size: 10px;
  }
  .left,
  .right {
    display: inline-block;
    vertical-align: middle;
  }
  .left {
    width: 80px;
    height: 80px;
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
  .right {
    margin-left: 48px;
    text-align: left;
    .name {
      margin-bottom: 10px;
      color: #333;
      font-size: 14px;
    }
    .en {
      color: #999;
      font-size: 12px;
    }
  }
}
