.filter {
  position: absolute;
  z-index: 1000;
  background-color: #ffffff;
  width: 100%;
  border-bottom: 0.5px solid #ddd;
  .filter-title {
    display: flex;
    justify-content: space-around;
    line-height: 80px;
    height: 80px;
    .title-item {
      height: 100%;
      flex: 1;
      text-align: center;
    }
    .title-icon {
      display: inline;
      border: 0.1rem solid;
      border-color: #bbb transparent transparent transparent;
      position: relative;
      top: 0.3rem;
      left: 10%;
    }
    .title-icon-selected {
      border-color: #118ee9 transparent transparent transparent;
    }
  }
  .selected {
    color: #118ee9;
  }
  .list {
    width: 100%;
    position: absolute;
    z-index: 1000;
    background-color: #ffffff;
  }

  :global {
    .am-list-item {
      border-bottom: 0.5px solid #ddd;
    }
    .am-list-item .am-list-line .am-list-content {
      font-size: 14px;
    }
  }
}
.height {
  height: 80px;
}
.mask {
  position: absolute;
  width: 100%;
  background-color: rgba(0,0,0,0.4);
  z-index: 999;
}
