.filter {
  position: absolute;
  z-index: 1000;
  width: 100%;
  background-color: #fff;
  border-bottom: 0.5px solid #ddd;
  .filter-title {
    display: flex;
    justify-content: space-around;
    .title-item {
      flex: 1;
      height: 100%;
      text-align: center;
    }
    .title-icon {
      position: relative;
      top: 0.3rem;
      left: 10%;
      display: inline;
      border: 0.1rem solid;
      border-color: #bbb transparent transparent transparent;
    }
    .title-icon-selected {
      border-color: #118ee9 transparent transparent transparent;
    }
  }
  .selected {
    color: #118ee9;
  }
  .list {
    position: absolute;
    z-index: 1000;
    width: 100%;
    background-color: #fff;
  }

  :global {
    .am-list-item {
      border-bottom: 0.5px solid #ddd;
    }
    .am-list-item .am-list-line .am-list-content {
      font-size: 14px;
    }
  }
}
.height {
  height: 45PX;
}
.mask {
  position: absolute;
  z-index: 999;
  width: 100%;
  height: calc(100vh - 45PX);
  background-color: rgba(0, 0, 0, 0.4);
}
