.cardDiv {
    position: relative;
    background-color: #fff;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    height: 180px;
    border-radius: 10px;
}

.titleDiv {
    position: absolute;
    font-size: 15px;
    margin-left: 26px;
    margin-top: 26px;
    color: #333333;
}

.contentDiv{
    letter-spacing: 2px;
    position: absolute;
    font-size: 13px;
    margin-top: 86px;
    margin-left: 26px;
    color: #666666;
}